flask==3.1.0
sqlalchemy==2.0.39
flask-cors==5.0.1
flask-sqlalchemy==3.1.1
flask-jwt-extended
flask-login
flask-bcrypt
flask-limiter==3.5.0
pytest==8.3.5
pytest-flask==1.3.0
opencv-python==4.11.0.86
watchdog==6.0.0
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pillow