flask
sqlalchemy
flask-cors
flask-sqlalchemy
flask-login
flask-jwt-extended
flask-bcrypt
pytest
pytest-flask
opencv-python
watchdog
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
